{include file="public/layout" /}
<body class="bodystyle" style="overflow-y: scroll;min-width:auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page min-hg-c-10">
    {include file="search/bar" /}
    <form class="form-horizontal" id="post_form" action="{:url('Search/conf')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>搜索模式</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <label class="curpoin" {if condition="!empty($foreign_is_status)"} title="已启用外贸助手，不支持标题分词" {/if}><input type="radio" name="search_model" value="default" {if condition="empty($search.search_model) || 'default' == $search.search_model"} checked="checked" {/if} onclick="searchModel(this);" {if condition="!empty($foreign_is_status)"} disabled="disabled" {/if} />标题分词</label>&nbsp;&nbsp;
                    <br/>
                    <label class="curpoin"><input type="radio" name="search_model" value="accurate" {if condition="!empty($search.search_model) && 'accurate' == $search.search_model"} checked="checked" {/if} onclick="searchModel(this);" />标题完全匹配</label>&nbsp;&nbsp;
                    <br/>
                    <label class="curpoin"><input type="radio" name="search_model" value="intellect" {if condition="!empty($search.search_model) && 'intellect' == $search.search_model"} checked="checked" {/if} onclick="searchModel(this);" />智能模糊</label>&nbsp;&nbsp;
                    <div class="mt10 " id="intellect" {if condition="empty($search.search_model) || 'intellect' != $search.search_model"} style="display: none;" {/if}>
                        <dl class="row" style="background: rgb(244, 244, 244);border-radius: 8px;padding: 10px;width: 600px;">
                            <dd class="opt">
                                <input type="hidden" name="intellect_arr[]" value="title">
                                <label><input type="checkbox" {if condition="in_array('title', $search.intellect_arr)"} checked="checked" {/if} disabled>标题</label>&nbsp;&nbsp;
                                <label><input type="checkbox" name="intellect_arr[]" value="seo_keywords" {if condition="in_array('seo_keywords', $search.intellect_arr)"} checked="checked" {/if}>seo关键词</label>&nbsp;&nbsp;
                                <label><input type="checkbox" name="intellect_arr[]" value="seo_description" {if condition="in_array('seo_description', $search.intellect_arr)"} checked="checked" {/if}>seo描述</label>&nbsp;&nbsp;
                                <label><input type="checkbox" name="intellect_arr[]" value="content" {if condition="in_array('content', $search.intellect_arr)"} checked="checked" {/if}>内容正文</label>&nbsp;&nbsp;
                            </dd>
                        </dl>
                    </div>
                </dd>
            </dl>
            <dl class="row" id="dl_search_model_default" {if condition="!empty($search.search_model) && 'default' != $search.search_model"} style="display: none;" {/if}>
                <dt class="tit">
                    <label>分词匹配</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <label class="curpoin"><input type="radio" name="title_word_model" value="0" {if condition="empty($search.title_word_model)"} checked="checked" {/if}>任意词汇</label>&nbsp;&nbsp;
                    <label class="curpoin"><input type="radio" name="title_word_model" value="1" {if condition="!empty($search.title_word_model) && '1' == $search.title_word_model"} checked="checked" {/if}>全部词汇</label>&nbsp;&nbsp;
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="search_second">搜索频率</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    每 <input type="text" name="search_second" placeholder="" id="search_second" value="{$search.search_second|default=''}" class="w50"> 秒内最多搜索 <input type="text" name="search_maxnum" placeholder="" id="search_maxnum" value="{$search.search_maxnum|default=''}" class="w50"> 次
                    <span class="err"></span>
                    <p class="notic">同一个用户或者IP，在指定秒内只搜索多少次，超过将锁定</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="search_locking">锁定时长</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <input type="text" name="search_locking" placeholder="" id="search_locking" value="{$search.search_locking|default=''}" class="w50"> 秒
                    <span class="err"></span>
                    <p class="notic">锁定期间不能搜索，超过时长后自动解除</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="search_tabu_words">搜索敏感词</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <textarea rows="5" cols="60" id="search_tabu_words" name="search_tabu_words" style="height:150px; width: 250px;" placeholder="一行=1个敏感词
&lt;
&gt;
&quot;
;
,
@
&amp;
#
\
*">{$search.search_tabu_words|default=''}</textarea>
                    <span class="err"></span>
                    <p class="notic">禁止前台用户搜索含有敏感词，防止SQL注入</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>搜索智答</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <label>
                        <input onclick="" type="radio" id="ai_seach" name="ai[ai_seach]" value="1" {if isset($row.ai_seach) && $row.ai_seach==1 && $is_ai==1}checked{/if}>开启
                    </label>
                    &nbsp; &nbsp;
                    <label>
                        <input onclick="" type="radio" id="ai_seach" name="ai[ai_seach]" value="0" {if !isset($row.ai_seach) || empty($row.ai_seach) || empty($is_ai)}checked{/if}>关闭
                    </label>
                    <!-- <P class="notic3" style="display:none;"><img src="__SKIN__/images/ai/feature-4.png" /></P> -->
                    <!-- <a class="ui_tan view_feature" href="javascript:void(0);">查看功能</a> -->
                    <p class="notic2">搜索的关键字Ai作答，需先安装<a href="https://www.eyoucms.com/mall/plus/29424.html" target="_blank" class="red">Ai智能创作平台</a>插件</p>
                    <p><li>1、Ai搜索结果框-》复制到模板文件lists_search.htm列表展示位置： {literal}{:hookexec('Ai/Ai/searchdata')}{/literal} </li></p>
                    <p><li>2、引用代码-》复制到模板文件lists_search.htm底部： {literal}{:hookexec('Ai/Ai/search')}{/literal} </li></p>
                </dd>
            </dl>

            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script>
    var is_ai ={$is_ai};
    $(function(){
        $('input[name="ai[ai_seach]"]').change(function(){
            var value = $(this).val();
            if (value == 1) {
                if (is_ai != 1) {
                    layer.confirm('请先安装Ai智能创作平台或者开启插件？', {title:'提示'},
                    function(){
                        window.open("https://www.eyoucms.com/mall/plus/29424.html", "_blank");
                        $('input[name="ai[ai_seach]"][value="0"]').prop('checked', true);
                        layer.closeAll();
                    },function(){
                        $('input[name="ai[ai_seach]"][value="0"]').prop('checked', true);
                    });
                    return false;
                }
            }
        });
    });
    function searchModel(obj)
    {
        $('#intellect').hide();
        if ($(obj).val() == 'intellect') $('#intellect').show();

        $('#dl_search_model_default').hide();
        if ($('input[name=search_model]:checked').val() == 'default') {
            $('#dl_search_model_default').show();
        }
    }
    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            type : 'post',
            url : "{:url('Search/conf')}",
            data : $('#post_form').serialize(),
            dataType : 'json',
            success : function(res){
                layer.closeAll();
                if(res.code == 1){
                    layer.msg(res.msg, {shade: layer_shade, time: 1000}, function(){
                        window.location.reload();
                    });
                }else{
                    showErrorMsg(res.msg);
                }
            },
            error: function(e){
                layer.closeAll();
                showErrorAlert(e.responseText);
            }
        });
    }
</script>
{include file="public/footer" /}
